In [1]:
import pandas as pd

In [3]:
hotel_bookings = pd.read_csv('../data/H1.csv')

In [6]:
hotel_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40060 entries, 0 to 40059
Data columns (total 31 columns):
IsCanceled                     40060 non-null int64
LeadTime                       40060 non-null int64
ArrivalDateYear                40060 non-null int64
ArrivalDateMonth               40060 non-null object
ArrivalDateWeekNumber          40060 non-null int64
ArrivalDateDayOfMonth          40060 non-null int64
StaysInWeekendNights           40060 non-null int64
StaysInWeekNights              40060 non-null int64
Adults                         40060 non-null int64
Children                       40060 non-null int64
Babies                         40060 non-null int64
Meal                           40060 non-null object
Country                        39596 non-null object
MarketSegment                  40060 non-null object
DistributionChannel            40060 non-null object
IsRepeatedGuest                40060 non-null int64
PreviousCancellations          40060 non-null int64
PreviousBookingsNotCanceled    40060 non-null int64
ReservedRoomType               40060 non-null object
AssignedRoomType               40060 non-null object
BookingChanges                 40060 non-null int64
DepositType                    40060 non-null object
Agent                          40060 non-null object
Company                        40060 non-null object
DaysInWaitingList              40060 non-null int64
CustomerType                   40060 non-null object
ADR                            40060 non-null float64
RequiredCarParkingSpaces       40060 non-null int64
TotalOfSpecialRequests         40060 non-null int64
ReservationStatus              40060 non-null object
ReservationStatusDate          40060 non-null object
dtypes: float64(1), int64(17), object(13)
memory usage: 9.5+ MB

In [10]:
hotel_bookings['Date(Year and Week Number)'] = hotel_bookings['ArrivalDateYear'].map(str) +  + hotel_bookings['ArrivalDateWeekNumber'].map(str)

In [11]:
hotel_bookings_year_week = hotel_bookings.copy()[['Date(Year and Week Number)', 'IsCanceled']]

In [12]:
weekly_cancelled_bookings = hotel_bookings_year_week.groupby('Date(Year and Week Number)').sum()

In [13]:
weekly_cancelled_bookings

                            IsCanceled
Date(Year and Week Number)
201527                              41
201528                              48
201529                              87
201530                              74
201531                             101
...                                ...
20175                               51
20176                               91
20177                               96
20178                              128
20179                               77

[115 rows x 1 columns]